.navbar-logo img {
    height: 7vw;
    width: auto;
}

.dropdown-menu {
    width: auto;
    min-width: 3rem;
}

@media (min-width: 1300px) {
    .navbar-logo img {
        height: 5vw;
    }
    .btnn {
        transform: scale(1.2);
    }
   .navbar {
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: 500px) {
    .navbar-logo img {
        height: 15vw;
    }
    .btnn {
        transform: scale(0.8);
    }
    .navbar {
        padding: 0.5rem 0.2rem;
    }
}
