<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}"></a>Sign up</a></p>
    <p>Or login via OAuth: </p>
    {% include "login42.html" %}
    <script>
        let form_fields = document.getElementsByTagName("input");
        for (let i = 0; i < form_fields.length; i++) {
            form_fields[i].classList.add("form-control");
        }
    </script>
</body>
</html>
