#game {
	min-height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#xx {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
#gameCanvas {
    max-width: 100%;
    height: auto;
}

.po {
    border: none;
    padding: 1vw 2vw; 
    font-size: 2vw;
    background: transparent;
    color: #ff46f6;
    font-family: 'Press Start 2P';
    cursor: pointer;
    outline: none;
    user-select: none;
    transition: text-shadow 0.3s ease-in-out, transform 0.25s, box-shadow 0.25s;
    text-shadow:
        0 0 5px #ff46f6, /* left */
        0 0 10px #ff46f6, /* right */
        0 0 20px #ff46f6, /* glow */
        0 0 40px #ff46f6; /* far glow */
	text-decoration: none;
}

.po:hover {
    text-shadow:
        0 0 10px #ff46f6,
        0 0 15px #ff46f6,
        0 0 30px #ff46f6,
        0 0 60px #ff46f6;

    /* The raise effect */
    box-shadow: 0 0.5em 0.5em -0.4em #ff46f6;
    transform: translateY(-0.25em);
}