/* Side menu */
#profile .row {
    position: relative; 
    min-height: 90vh; 
}

.sidebar-navigation {
    width: 50px; 
    background-color: rgba(255, 255, 255, 0.14); 
    color: white;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
}

.col-auto {
    padding-left: 0; 
    padding-right: 60px;
}

.sidebar-navigation ul li .tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.14);
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 55px; 
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li:hover i {
    color: #ffffff;
}

.sidebar-navigation ul {
    list-style: none; 
    padding-left: 0; 
    text-align: center;
    margin: 0; 
}

.sidebar-navigation ul li {
    padding: 20px 0; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-navigation ul li i,
.sidebar-navigation ul li span { 
    display: block; 
    margin: 0 auto; 
    text-align: center; 
    color: white; 
}

.sidebar-navigation ul li:hover {
    background-color: #ff46f6;
    border-radius: 10px; 
}




/* profile card */
.profile-card {
    background: rgba(255, 255, 255, 0.14); 
    color: #ffffff;
    border-radius: 10px;
    font-family: 'Press Start 2P';
    padding: 20px;
    width: 300px; 
    margin: auto; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
    transform: scale(1);
    transition: transform 0.5s;
	max-width: 70%;
	animation: float 3s ease-in-out infinite;
}

.card-header {
    text-align: center;
}

.avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    border: 3px solid #FF46F6; 
	animation: glow 2s ease-in-out infinite alternate;
}

.avatar img {
    width: 100%;
    height: auto;
}

.player-name {
    margin-top: 10px;
}

.username {
    color: #a9a9a9;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stat-label {
    font-size: 0.7rem;
    color: #a9a9a9;
}

.stat-value {
    font-size: 1.4rem;
    font-weight: bold;
}

.wins .stat-value {
    color: #4CAF50; 
}

.losses .stat-value {
    color: #F44336; 
}

.box {
    background-color: transparent; 
    border: 4px solid transparent;
    border-image: 16px round; 
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
	border-radius: 10px; 
    transition: transform 0.3s ease-out, border-image-source 0.3s ease-out;
}

.box:hover {
    transform: scale(1.1);
}

.wins {
    box-shadow:0 0 10px #00FF00;
}

.losses {    
    box-shadow:0 0 10px #FF0000;
}

.stat-value {
    font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    text-shadow:
      0 0 6px rgba(255, 255, 255, 0.7),
      0 0 30px rgba(255, 255, 255, 0.35);
}

.box:hover .stat-value {
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.85),
      0 0 40px rgba(255, 255, 255, 0.65),
      0 0 80px rgba(255, 255, 255, 0.5);
}

.stat-label {
    font-family: 'Press Start 2P', cursive;
    color: #a9a9a9;
    text-shadow: 0 0 3px #000000;
}

@media (max-width: 500px) {
	.stats {
	  flex-direction: column; 
	}
	.box {
	  width: 100%; 
	  margin-bottom: 20px; 
	  justify-content: space-between; 
	}
	.profile-card {
		max-width: 76%;
	}
	.box:last-child {
	  margin-bottom: 0;
	}
}
 
@keyframes glow {
	0%, 100% {
	  box-shadow: 0 0 10px #FF46F6, 0 0 20px #FF46F6, 0 0 30px #FF46F6;
	}
	50% {
	  box-shadow: 0 0 20px #FF46F6, 0 0 30px #FF46F6, 0 0 40px #FF46F6;
	}
  }

@keyframes float {
	0%, 100% {
	  transform: translateY(-10px); 
	}
	50% {
	  transform: translateY(10px);
	}
}
@media (min-width: 1500px) {
    .profile-card {
        width: 400px; 
        padding: 40px; 
        font-size: 1.2rem; 
    }

    .avatar {
        width: 140px; 
        height: 140px; 
        border: 5px solid #FF46F6; 
    }

    .stats {
        margin-top: 40px; 
    }

    .stat-value {
        font-size: 1.6rem; 
    }

    .stat-label {
        font-size: 0.8rem; 
    }

    .box {
        padding: 20px 40px; 
    }
}

  

  


/* game_b style */
.game-section {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    color: #fff;
    min-height: 90vh;
    background-size: 400% 400%;
}

.btn-game {
	border-radius: 5px;
	cursor: pointer;
}

#oneVsOne {
	animation: float_btn1 4s ease-in-out infinite;
}

#tournament {
	animation: float_btn2 4s ease-in-out infinite;
}

.retro-gif {
    max-width: 60%; 
    height: auto;
    display: block;
    margin: 20px auto;
}

@keyframes float_btn1 {
	0%, 100% {
		transform: translateX(-20px); 
	}
	50% {
		transform: translateX(20px);
	}
}

@keyframes float_btn2 {
	0%, 100% {
		transform: translateX(10px); 
	}
	50% {
		transform: translateX(-10px);
	}
}
@media (min-width: 1500px) {
    .game-section {
        background-size: 800% 800%; 
    }

    .btn-game {
        font-size: 1.2em; 
        padding: 15px 30px; 
        margin: 10px; 
    }

    #oneVsOne, #tournament {
        animation-duration: 5s; 
    }

    .retro-gif {
        max-width: 75%; 
        margin: 40px auto; 
    }

    @keyframes float_btn1 {
        0%, 100% {
            transform: translateX(-30px); 
        }
        50% {
            transform: translateX(30px);
        }
    }

    @keyframes float_btn2 {
        0%, 100% {
            transform: translateX(20px);
        }
        50% {
            transform: translateX(-20px);
        }
    }
}






/* Settings style */




  /* history */
.history-page {
    font-family: 'Press Start 2P', cursive; 
    color: #FF46F6;
    
}

.retro-table {
    margin-top: 20px;
    padding: 15px;
    background: rgba(0, 0, 0, 0.75);
    border: 1px solid #FF46F6;
}

.table-title {
    color: #FF46F6;
    text-align: center;
}

.table {
    color: #FF46F6;
}

.table th, .table td {
    border: 1px solid #FF46F6;
}
.table-responsive {
    height: 150px; 
    overflow-y: auto; 
    
}

.table-responsive::-webkit-scrollbar {
    width: 12px;
}

.table-responsive::-webkit-scrollbar-track {
    background: #000;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #FF46F6;
    border-radius: 20px;
    border: 3px solid #000;
}



/* Friends style */
.form-and-friends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.friends-list {
	width: 50%;
    max-height: 200px;
	overflow-y: auto; 
	border: 1px solid #ccc; 
	margin-top: 20px;
	background-color:  rgba(255, 255, 255, 0.14);;
  }
  
  .friend {
	display: flex;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #eee; 
  }
  
  .avatarr {
	width: 50px; 
	height: 50px; 
	border-radius: 50%; 
	margin-right: 10px;
  }
  
  .friend-info {
	flex-grow: 1;
  }
  
  .friend-name {
	margin: 0;
	font-size: 1em; 
  }
  
  .friend-status {
	margin: 0;
	font-size: 0.8em; 
	color: #666; 
  }
  